<%- include('partials/header.ejs'); -%>


    <!-- Header Start -->
    <div class="container-fluid bg-primary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 400px">
            <h3 class="display-3 font-weight-bold text-white">About Us</h3>
            <div class="d-inline-flex text-white">
                <p class="m-0"><a class="text-white" href="">Home</a></p>
                <p class="m-0 px-2">/</p>
                <p class="m-0">About Us</p>
            </div>
        </div>
    </div>
    <!-- Header End -->
<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <section>
                    <h2>History</h2>
                    <p>Established in 1909, Arya Girls’ Senior Secondary School has been a vital education hub for girls in 
                        the Sadar Bazar's busy streets of Teliwara. Star ng as a primary school, it gradually expanded offering 
                        middle school classes in 1938 and eventually reaching senior secondary classes in 1977. Arya Putri Pathshala Teliwara Delhi Trust takes pride in running this esteemed institution, dedicated
                        to fostering academic excellence and empowerment. 
                        </p>
                </section>
                <section>
                    <h2>About School</h2>
                    <p>Affiliated with the Central Board of Secondary Education (CBSE), Arya Girls’ Sr. Sec. School ensures a
                        curriculum that meets national standards. Being a Government Aided School, it is following all the
                        rules and regulations of the Department of Education (DoE), Delhi. Teaching in Hindi medium Arya
                        Girls Sr. Sec. School not only focuses on academics but also on nurturing students overall
                        development.</p>
                        <br>
                    <div style="display: flex; justify-content: center;">
                        <img src="img/about.jpg" alt="About School Image" style="width: 50%;">
                    </div>
                    <br> <br>
                    <p> The school has a good infrastructure and provides all the basic amenities like Water Purifiers, Fire
                        Safety, lab equipment etc. All the classrooms, laboratories and library are well equipped. Arya Girls’
                        Senior Secondary School continues to shape the future of young girls, empowering them for a
                        brighter future.</p>
                </section>
            
                <section>
                    <h2>Contact Us</h2>
                    <p>We are always available to address any queries, feedback, or concerns you may have. Don't hesitate to get in touch with us!</p>
                    <div class="d-flex justify-content-end mb-4"><a href="/contact" class="btn btn-primary px-4">Contact Us →</a></div>
                </section>
            </div>
        </div>
    </div>
</main>

   

    <%- include('partials/footer.ejs'); -%>


    <!-- Back to Top -->
    <a href="#" class="btn btn-primary p-3 back-to-top"><i class="fa fa-angle-double-up"></i></a>


