<%- include('partials/header.ejs'); -%>


    <!-- Header Start -->
    <div class="container-fluid bg-primary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 400px">
            <h3 class="display-3 font-weight-bold text-white">Our Documents</h3>
            <div class="d-inline-flex text-white">
                <p class="m-0"><a class="text-white" href="">Home</a></p>
                <p class="m-0 px-2">/</p>
                <p class="m-0">Our Documents</p>
            </div>
        </div>
    </div>
    <!-- Header End -->


    <!-- Blog Start -->
    <div class="container-fluid pt-5">
        <div class="container">
            <div class="text-center pb-2">
                <p class="section-title px-5"><span class="px-2">Latest Documents</span></p>
                <!-- <h1 class="mb-4"> <a href="https://drive.google.com/file/d/1HfUO7yDgnQShleKVZ5jHgwYEoaUYCe2J/view?usp=drive_link">Latest Articles From Blog</a></h1> -->
            </div>
            <div class="row pb-3">
                <div class="col-lg-4 mb-4">
                        <div class="card border-0 shadow-sm mb-2">
                            <div class="card-body bg-light text-center p-4">
                                <h4 class="">Assignment_2</h4> <!-- Assuming 'filename' is the field containing the document name -->
                                <a href="Assignment_2.pdf" target="_blank" class="btn btn-primary px-4 mx-auto my-2">Read More</a>
                            </div>
                        </div>   
                </div>
                <div class="col-lg-4 mb-4">
                    <div class="card border-0 shadow-sm mb-2">
                        <div class="card-body bg-light text-center p-4">
                            <h4 class="">Assignment_2</h4> <!-- Assuming 'filename' is the field containing the document name -->
                            <a href="Assignment_2.pdf" target="_blank" class="btn btn-primary px-4 mx-auto my-2">Read More</a>
                        </div>
                    </div>   
            </div>
               
               
            </div>
        </div>
    </div>
    <!-- Blog End -->

    <%- include('partials/footer.ejs'); -%>

  