<%- include('partials/header.ejs'); -%>


    <!-- Header Start -->
    
    <div id="carouselExampleInterval" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-interval="8000">
            <img src="carouselimg/C1.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item" data-interval="6000">
            <img src="carouselimg/C2.png" class="d-block w-100" alt="Carousel Image 2">
          </div>
      
          <!-- Carousel Item 3 -->
          <div class="carousel-item" data-interval="6000">
            <img src="carouselimg/C3.png" class="d-block w-100" alt="Carousel Image 3">
          </div>
      
          <!-- Carousel Item 4 -->
          <div class="carousel-item" data-interval="6000">
            <img src="carouselimg/C4.png" class="d-block w-100" alt="Carousel Image 4">
          </div>
      
          <!-- Carousel Item 5 -->
          <div class="carousel-item" data-interval="6000">
            <img src="carouselimg/C5.png" class="d-block w-100" alt="Carousel Image 5">
          </div>
      
          <!-- Carousel Item 6 -->
          <div class="carousel-item" data-interval="4000">
            <img src="carouselimg/C6.png" class="d-block w-100" alt="Carousel Image 6">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    
    <!-- Header End -->


    <!-- Facilities Start -->
    <div class="container-fluid pt-5">
        <div class="container pb-3">
            <div class="row">
                <div class="col-lg-4 col-md-6 pb-1">
                    <div class="d-flex bg-light shadow-sm border-top rounded mb-4" style="padding: 30px;">
                        <img src="svg/vision_svg.svg" height="60px" width="60px" alt="">  
                        <div class="pl-4">
                            <p class="m-0">Vision of Arya Girls' Senior Secondary School is to create a dynamic educational community where diversity is celebrated, curiosity is cultivated, and each girl is valued for her unique strength, preparing them to excel in an ever-changing world.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 pb-1">
                    <div class="d-flex bg-light shadow-sm border-top rounded mb-4" style="padding: 30px;">
                        <img src="svg/curriculum.svg" height="60px" width="60px" alt="">     
                        <div class="pl-4">
                            
                            <p class="m-0">Our curriculum stimulates intellectual curiosity, fosters creativity, and develops critical thinking skills, tailored to meet the needs and interests of every girl while integrating technology for enhanced learning.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 pb-1">
                    <div class="d-flex bg-light shadow-sm border-top rounded mb-4" style="padding: 30px;">
                        <img src="svg/educator.svg" height="60px" width="60px" alt="">
                        <div class="pl-4">
                            
                            <p class="m-0">Our passionate educators create a supportive learning environment where girls can thrive academically and personally, guided by our dedicated team committed to their success.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 pb-1">
                    <div class="d-flex bg-light shadow-sm border-top rounded mb-4" style="padding: 30px;">
                        <img src="svg/cocurriculum.svg" height="60px" width="60px" alt="">
                        <div class="pl-4">
                            
                            <p class="m-0">Arya Girls' Senior Secondary School offers a vibrant array of extracurricular activities, clubs, and sports teams, providing opportunities for girls to explore interests, develop leadership skills, and form lifelong friendships.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 pb-1">
                    <div class="d-flex bg-light shadow-sm border-top rounded mb-4" style="padding: 30px;">
                        <img src="svg/admission.svg" height="60px" width="60px" alt=""> 
                        <div class="pl-4">
                            
                            
                            <p class="m-0">Our admissions process ensures a smooth transition, offering support to new students and their families.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 pb-1">
                    <div class="d-flex bg-light shadow-sm border-top rounded mb-4" style="padding: 30px;">
                        <img src="svg/quiz.svg" height="60px" width="60px" alt=""> 
                        <div class="pl-4">
                            
                            <p class="m-0">Arya Girls' Senior Secondary School cultivates a culture of lifelong learning, encouraging girls to embrace challenges, adapt to change, and continually strive for personal growth and excellence in all aspects of their lives.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Facilities Start -->


    <!-- About Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5">
                    <img class="img-fluid rounded mb-5 mb-lg-0" src="galleryimg/G3.png" alt="">
                </div>
                <div class="col-lg-7">
                    <p class="section-title pr-5"><span class="pr-2">Learn About Us</span></p>
                    <h1 class="mb-4">Arya Girls Senior Secondary School</h1>
                    <p>
                        Established in 1909, Arya Girls Senior Secondary School in Sadar Bazar's Teliwara offers Hindi-medium education, emphasizing academic excellence and holistic development. Affiliated with CBSE and aided by the Government, it adheres to national standards and DOE regulations.</p>
                    <div class="row pt-2 pb-4">
                        <div class="col-6 col-md-4">
                            <img class="img-fluid rounded" src="img/blog-1.jpg" alt="">
                        </div>
                        <div class="col-6 col-md-8">
                            <ul class="list-inline m-0">
                                <li class="py-2 border-top border-bottom"><i class="fa fa-check text-primary mr-3"></i>Good infrastructure and basic amenities</li>
                                <li class="py-2 border-bottom"><i class="fa fa-check text-primary mr-3"></i>Empowering young girls for a brighter future.</li>
                                <li class="py-2 border-bottom"><i class="fa fa-check text-primary mr-3"></i>Guiding the future through collaboration.</li>
                            </ul>
                        </div>
                    </div>
                    <a href="" class="btn btn-primary mt-2 py-2 px-4">Learn More</a>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


    <!-- gallery overview Start -->
    <div class="container-fluid pt-5">
        <div class="container">
            <div class="text-center pb-2">
                <p class="section-title px-5"><span class="px-2">Our Gallery</span></p>
                <h1 class="mb-4">Our School Gallery</h1>
            </div>
            <div class="row">
                
                <div class="col-lg-4 col-md-6 mb-4 portfolio-item first">
                    <div class="position-relative overflow-hidden mb-2">
                        <img class="img-fluid w-100" src="galleryimg/G1.png" alt="" style="border: 2px solid black;"4>
                        <div class="portfolio-btn bg-primary d-flex align-items-center justify-content-center">
                            <a href="galleryimg/G1.png" data-lightbox="portfolio">
                                <i class="fa fa-plus text-white" style="font-size: 60px;"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4 portfolio-item first">
                    <div class="position-relative overflow-hidden mb-2">
                        <img class="img-fluid w-100" src="galleryimg/G2.png" alt="" style="border: 2px solid black;">
                        <div class="portfolio-btn bg-primary d-flex align-items-center justify-content-center">
                            <a href="galleryimg/G2.png" data-lightbox="portfolio">
                                <i class="fa fa-plus text-white" style="font-size: 60px;"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4 portfolio-item first">
                    <div class="position-relative overflow-hidden mb-2">
                        <img class="img-fluid w-100" src="galleryimg/G7.png" alt="" style="border: 2px solid black;">

                        <div class="portfolio-btn bg-primary d-flex align-items-center justify-content-center">
                            <a href="galleryimg/G7.png" data-lightbox="portfolio">
                                <i class="fa fa-plus text-white" style="font-size: 60px;"></i>
                            </a>
                        </div>
                    </div>
                </div>
                
            </div>
            <div style="text-align: center;">
                <a href="/gallery" class="btn btn-primary mt-2 py-2 px-4">Visit Gallery</a>
            </div>
        </div>
    </div>
    <!-- Class End -->


   

   


   <%- include('partials/footer.ejs'); -%>


 